@import 'Global';

.About {
    font-size: $font-size-medium;
    padding: calc(0.75rem + 1vw);
    .Person {
        outline: 1px solid red;
        text-align: center;
        div {
            img{
                width: 20rem;
                height: 20rem;
            }  
        }
        
    }
} 