@import 'Global';
.footer {
    background-color: $medium-green;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    height: 75px;
    //Matthew leave this commented for the time being
    // margin-top: 650px;
}

.share-icon {
    /* style the individual icon */
    /* color: blue; */
    width: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
